[submodule "server"]
	path = server
	url = git@bitbucket.org:ali-abbas-personal/server.git

[submodule "phoneclient"]
	path = phoneclient
	url = git@bitbucket.org:ali-abbas-personal/phoneclient.git

[submodule "Server/gptengine"]
	path = Server/gptengine
	url = git@bitbucket.org:ali-abbas-personal/gptengine.git