[submodule "server"]
	path = server
	url = git@bitbucket.org-Ali-Abbas-Personal:ali-abbas-personal/server.git
[submodule "client"]
	path = client
	url = git@bitbucket.org-Ali-Abbas-Personal:ali-abbas-personal/client.git
